{% block navbar %}
<nav class="block max-w-7xl mx-auto px-4 py-2 bg-black bg-opacity-90 sticky top-3 shadow lg:px-8 lg:py-3 backdrop-blur-lg backdrop-saturate-150 z-[9999]">
  <div class="container flex flex-wrap items-center justify-between mx-auto text-white">
    <a href="/" class="mr-4 block cursor-pointer py-1.5 text-base text-white font-semibold">
      Home
    </a>
    <div class="hidden lg:block">
      <ul class="flex flex-col gap-2 mt-2 mb-4 lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-6">
        <li class="flex items-center p-1 text-sm gap-x-2 text-white">
          <a href="/trending" class="flex items-center">Trending</a>
        </li>
        <li class="flex items-center p-1 text-sm gap-x-2 text-white">
          <a href="/login" class="flex items-center">Login</a>
        </li>
        <li class="flex items-center p-1 text-sm gap-x-2 text-white">
          <a href="/register" class="flex items-center">Register</a>
        </li>
      </ul>
    </div>
    <button
      class="relative ml-auto h-6 max-h-[40px] w-6 max-w-[40px] select-none rounded-lg text-center align-middle text-xs font-medium uppercase text-inherit transition-all hover:bg-transparent focus:bg-transparent active:bg-transparent disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none lg:hidden"
      type="button">
      <span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </span>
    </button>
  </div>
</nav>

{% endblock %}

<section class="max-w-7xl mx-auto px-6 py-10">
    {% block content %} {% endblock %}
  </section>

{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
{% endblock %}