{% extends "base.html" %}

{% block content %}
<div class="container mx-auto text-center">
    <h1 class="text-4xl font-bold mb-6">Welcome to the Blog</h1>
    <p class="text-lg text-gray-700">This is a simple blog template using Tailwind CSS.</p>

    <div class="mt-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for post in blog %}
            {% include "components/card.html" with title=post.title content=post.content|truncatewords:20 readmore_url=post.get_absolute_url %}
        {% endfor %}
</div>

{% endblock %}